.main-section {
    padding: 2rem 7rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 1.5rem;
}

.user-profile-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.user-profile {
    border-radius: 8px;
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    overflow: hidden;
}

.profile-logo-banner-container {
    position: relative;
    flex: 1;
}

.profile-banner {
    width: 100%;
    height: 100%;
}

.profile-logo {
    width: 80px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 50%;
}

.profile-details {
    margin-top: 3rem;
    padding: 1rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-decoration: none;
}

.profile-user-name {
    font-weight: 600;
    font-size: 1.3rem;
    white-space: nowrap;
    color: var(--black);
}

.profile-user-role {
    font-size: 0.8rem;
    color: var(--black);
}

.profile-user-place {
    font-size: 0.8rem;
    color: grey;
}

.user-analytics-section {
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}

.user-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-analytics:hover {
    text-decoration: underline;
    cursor: pointer;
}

.analytics-heading {
    font-size: 0.75rem;
    font-weight: 600;
}

.analytics-values {
    color: var(--blue);
    font-size: 0.75rem;
    font-weight: 600;
}