.main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 30px;
  border: none;
}

img {
  width: 100px;
  border: none !important;
}

.profile-section {
  width: 100%;
  height: 70vh;
  background-color: red;
  overflow: hidden;
  border-radius: 15px;
  border: none;
}

.banner-section {
  height: 40%;
  width: 100%;
}

.banner-section img {
  width: 100%;
  height: 100%;
}